<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.waveneuro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".WaveNeuroApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Sonal Teams"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.WaveNeuroAndroid"
        android:usesCleartextTraffic="false"
        tools:ignore="DataExtractionRules"
        tools:targetApi="m">
        <activity
            android:name=".ui.introduction.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="false"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.organization.OrganizationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.dashboard.history.HistoryActivity"
            android:exported="false" />
        <activity android:name=".ui.dashboard.help.HelpActivity" />
        <activity
            android:name=".ui.user.password.new_password.SetNewPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.account.AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.web.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.session.session.SessionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.reset.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.registration.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.mfa.MfaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.session.how_to.HowToActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.code.ForgotPasswordCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.session.history.SessionHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="${sentryId}" />
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" /> <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />
        <meta-data
            android:name="io.sentry.environment"
            android:value="${sentryEnvironment}" />
        <meta-data
            android:name="io.sentry.release"
            android:value="sonal-teams@1.0.0" />
    </application>

</manifest>