<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waveneuro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" /> <!-- for Android 12 and above, include the ones you really need -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".WaveNeuroApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.WaveNeuroAndroid">
        <activity
            android:name=".ui.dashboard.history.HistoryActivity"
            android:exported="false" />
        <activity android:name=".ui.dashboard.help.HelpActivity" />
        <activity
            android:name=".ui.device.MyDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.password.confirm.SetNewPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.password.first.SetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.account.AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.more.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.session.complete.SessionCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.session.session.SessionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.HomeActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.changed.ResetPasswordInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.change.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.email.sent.SentUsernameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.recovery.RecoveryInstructionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.email.forgot.ForgotUsernameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.reset.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.profile.notactive.AccountNotActiveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.registration.RegistrationActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.login.LoginActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.mfa.MfaActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.session.how_to.HowToActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.password.code.ForgotPasswordCodeActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.session.history.SessionHistoryActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.introduction.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="@string/sentryId" />
        <!--
 Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production.
        -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" /> <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />
        <meta-data
            android:name="io.sentry.environment"
            android:value="${sentryEnvironment}" />
        <meta-data
            android:name="io.sentry.release"
            android:value="${releaseName}" />
    </application>

</manifest>
